@model InmobiliariaWebApp.Models.Pago

@{
    ViewData["Title"] = "Editar Pago";
}

<div class="card">
    <div class="card-header">
        <h1>Editar Pago</h1>
    </div>
    <form asp-action="Edit">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ContratoId" />

            <div class="form-group">
                <label asp-for="NumeroPago" class="control-label"></label>
                <input asp-for="NumeroPago" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@Model.ContratoId" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
</div>
