@model InmobiliariaWebApp.Models.Inquilino

@{
    ViewData["Title"] = "Eliminar Inquilino";
}

<div class="container">
    <h1 class="display-4">Eliminar Inquilino</h1>

    <h3>¿Estás seguro de que quieres eliminar a este inquilino?</h3>
    <div>
        <h4>Inquilino</h4>
        <hr />
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="alert alert-danger">
                    <dl class="row">
                        <dt class="col-sm-3">Nombre</dt>
                        <dd class="col-sm-9">@Model.Nombre</dd>
                        <dt class="col-sm-3">Apellido</dt>
                        <dd class="col-sm-9">@Model.Apellido</dd>
                        <dt class="col-sm-3">DNI</dt>
                        <dd class="col-sm-9">@Model.Dni</dd>
                    </dl>
                </div>
                
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
