@model InmobiliariaWebApp.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-white">
                <h3 class="card-title">Crear Nuevo Usuario</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Apellido" class="control-label"></label>
                                <input asp-for="Apellido" class="form-control" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Clave" class="control-label"></label>
                                <input asp-for="Clave" class="form-control" type="password" />
                                <span asp-validation-for="Clave" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Rol" class="control-label"></label>
                                <select asp-for="Rol" class="form-select">
                                    <option value="" disabled selected>Seleccione un rol</option>
                                    <option value="Empleado">Empleado</option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                                <span asp-validation-for="Rol" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-create" />
                        <a asp-action="Index" class="btn btn-outline-secondary">Volver al Listado</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
